.full-width {
    width: 100%;
  }

  .p-shadow-2 {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .p-button-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
  }

      .field label {
    width: 100%;
    margin-bottom: 5px;
  }

.h1{
    padding: 10px;
    display: flex;
    justify-content: center;
}