<!-- <app-snack-bar [errorMessage]="errorMessage" *ngIf="errorMessage">
</app-snack-bar> -->
<div class="product-form py-7 mt-3">
    <h1 class="h1">Add Product</h1>
    <p-card styleClass="p-shadow-2" [style]="{ 'width': '50%', 'margin': 'auto' }">
      <form #addProduct="ngForm" (ngSubmit)="onAddProduct(addProduct)">
        <div class="field">
          <label for="name">Product Name</label>
          <input pInputText type="text" class="full-width" placeholder="Product Name" name="productName" ngModel/>
        </div>
        <div class="field">
          <label for="rent">Rent (per day)</label>
          <input pInputText pKeyFilter="int" class="full-width" placeholder="Rent" name="productRent" ngModel/>
        </div>
        <div class="field">
            <label for="cityId">City</label>
            <select class="form-select" id="cityId" name="productCity" required ngModel>
                <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
            </select>
        </div>
          <div class="field">
            <label for="categoryId">Category</label>
            <select class="form-select" id="categoryId" name="categoryId" required ngModel>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
        </div>
        <div class="field">
          <label for="description">Description</label>
          <textarea rows="5" cols="30" pInputTextarea class="full-width" name="productDesc" ngModel></textarea>
        </div>
        <button type="submit" pButton label="Add Product" class="btn btn-primary"></button>
      </form>
    </p-card>
  </div>