<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top">
    <div class="container">
        <a class="navbar-brand">
            <h2>Rent Junction</h2>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <div class="navbar-nav ms-auto">
                <button class="btn btn-outline-primary me-3" (click)="navigateDashboard()" *ngIf="isLoggedIn">Dashboard</button>
                <button data-mdb-ripple-init type="button" class="btn btn-outline-primary me-3" *ngIf="!isLoggedIn" routerLink="/login">Login</button>
                <button data-mdb-ripple-init type="button" class="btn btn-outline-primary me-3" routerLink="/">Home</button>
                <button data-mdb-ripple-init type="button" class="btn btn-outline-primary me-3" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>
    