<p-toast></p-toast>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?t=st=1709206548~exp=1709210148~hmac=e094d7ab4cb95b085b524591531dcb9e2cab3f2a3e8c0abee4d6b5138040a1db&w=740"
          class="img-fluid" alt="Phone image">
      </div>
      
      <app-loader *ngIf="isLoading"></app-loader>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <p class="text-center h1 mb-5 mx-1 mx-md-4 mt-4">
          Login
        </p>
        <form #loginForm="ngForm"
        (ngSubmit)="onFormSubmitted(loginForm)">
          <div class="form-floating flex-fill mb-4">
            <input
              type="text"
              class="form-control"
              name="userName"
              placeholder="Username"
              ngModel
              required
              #username="ngModel"
              />
              <label for="form3Example4c">Username</label>
              <small *ngIf="!username.valid && username.touched">*Required</small>
            </div>

          <div class="form-floating flex-fill mb-4">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              ngModel
              #password="ngModel"
              required
            />
            <label for="form3Example4cd">Password</label>
            <small *ngIf="!password.valid && password.touched">*Required</small>
          </div>

          <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="loginForm.invalid">
            Login
          </button>
        </div>
        <div class="text-center">
          <p class="mt-3">Don't have an account? <span role="button" class="text-primary cursor-pointer" routerLink="/register">Register Here</span></p>
        </div>
        </form>
      </div>
    </div>
    
  </div>
</section>