<div class="container mt-4">
    <p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>
    <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}" class="table table-bordered table-striped">
      <ng-template pTemplate="caption">
        <div class="d-flex align-items-center justify-content-between">
          Products
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="border border-secondary">
          <th class="border">Rental Id</th>
          <th class="border">Product Id</th>
          <th class="border">Image</th>
          <th class="border">Start Date</th>
          <th class="border">End Date</th>
          <th class="border">Total Rent</th>
          <th class="border">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr class="border border-secondary">
          <td class="border">{{product.id}}</td>
          <td class="border">{{product.productId}}</td>
          <td class="border">
            <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt3A3b2e6Y1booIDdTFTHPlXziPUv5iEM1ZQ&s' + product.image" [alt]="product.name" width="100" class="shadow-4" />
          </td>
          <td class="border">{{product.startDate}}</td>
          <td class="border">{{product.endDate}}</td>
          <td class="border">₹ {{product.price}}</td>
          <td class="border">
            <button (click)="extendRent(product.id,product)" class="btn btn-primary mx-2">Extend Rent Period</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  