<!-- <div class="container">
  <div class="row">
    <div class="col-lg-5" *ngFor="let option of options">
        <p-card
          header="{{ option.header }}"
          subheader="{{ option.subheader }}"
          [style]="{ width: '400px' }"
        >
          <ng-template pTemplate="header">
            <img alt="Card" [src]="option.image" class="imgCustom"/>
          </ng-template>
          <p>
            {{ option.description }}
          </p>
          <ng-template pTemplate="footer">
            <p-button
            type="button"
              label="{{ option.labelButton }}"
              icon="pi pi-add"
              (onClick)="navigation(option.header)"
            ></p-button>
          </ng-template>
        </p-card>
    </div>
   
    
  </div>
</div> -->
<div class="container">
            
<div *ngFor="let option of options">
    <p-card
    header={{option.header}}
    subheader={{option.subheader}}> 
    <ng-template pTemplate="header"> 
        <img [src]= "option.image"
    class="img-fluid"
    style="width: 100%;height: 300px;object-fit: contain;"
        alt="icon"/> 
    </ng-template> 
    <p> 
       {{option.description}}
    </p> 
    <ng-template pTemplate="footer"> 
        <p-button label={{option.labelButton}} icon="pi pi-check" (click)="navigation(option.id)"></p-button> 
    </ng-template> 
</p-card>
</div>
        </div>
