<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<p-table [value]="users" [tableStyle]="{'min-width': '60rem', 'padding': '10px',}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Products
        </div>
    </ng-template>
    <ng-template pTemplate="header" >
        <tr class="border border-secondary">
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Username</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user >
        <tr class="border border-secondary" >
            <td>{{user.id}}</td>
            <td>{{user.firstName + " " + user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.city}}</td>
            <td>
                 <button (click)="confirm2($event,user.id)" class="btn btn-danger mx-2">Delete</button>
            </td>
        </tr>
    </ng-template>
</p-table>

