<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<p-table [value]="products" [tableStyle]="{'min-width': '60rem', 'padding': '10px'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Products
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Category</th>
            <th>City</th>
            <th>Rent [Per Day]</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td><img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt3A3b2e6Y1booIDdTFTHPlXziPUv5iEM1ZQ&s' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
            <td>{{product.categoryId}}</td>
            <td>{{product.city}}</td>
            <td>₹ {{product.rent}}</td>
            <td>
                <button (click)="onUpdate(product.id)" class="btn btn-primary mx-2">Update</button>
                <button (click)="confirm2($event,product.id)" label="Delete" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </ng-template>
</p-table>
