<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

<div class="container mt-4">
    <p-table [value]="products" [tableStyle]="{'min-width': '60rem', 'padding': '10px'}" class="table table-bordered table-striped">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                Products
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="border">Product Id</th>
                <th class="border">Name</th>
                <th class="border">Image</th>
                <th class="border">Category</th>
                <th class="border">City</th>
                <th class="border">Rent [Per Day]</th>
                <th class="border">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td class="border">{{product.id}}</td>
                <td class="border">{{product.name}}</td>
                <td class="border">
                    <img [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt3A3b2e6Y1booIDdTFTHPlXziPUv5iEM1ZQ&s' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                </td>
                <td class="border">{{product.categoryId}}</td>
                <td class="border">{{product.city}}</td>
                <td class="border">₹ {{product.rent}}</td>
                <td class="border">
                    <button (click)="onUpdate(product.id)" class="btn btn-primary mx-2">Update</button>
                    <button (click)="confirm2($event,product.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
